.btn {
  background-color: transparent;
  border: 1px solid $color-white;
  color: $color-white;
  padding: 15px;
  border-radius: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  line-height: 21.6px;
  font-family: $ff-secondary;
  transition: background-color $transition-300, border-color $transition-300, color $transition-300;

  @include vp-1023 {
    padding: 10px;
  }

  &:hover,
  &:focus-visible {
    background-color: $color-ottoman;
    border-color: transparent;
    color: $color-jaguar;
  }
}
