.children-info {
  background-color: $color-linen;
  padding: 79px 0 80px;
  overflow: hidden;

  @include vp-767 {
    padding: 50px 0 40px;
  }

  &__title {
    font-size: 70px;
    line-height: 1.1;
    text-transform: uppercase;
    font-family: $ff-secondary;
    margin: 0 0 40px 0;
    text-align: center;
    font-weight: 400;
    letter-spacing: -0.035em;

    @include vp-767 {
      font-size: 40px;
      margin: 0 0 20px 0;
    }
  }

  &__text {
    max-width: 843px;
    margin: 0 auto 56px;
    font-size: 28px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;

    @include vp-767 {
      font-size: 18px;
      margin: 0 0 20px 0;
      text-align: left;
    }
  }

  &__image {
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }

  &__img {
    height: 100%;
    width: 100%;

    @include vp-767 {
      height: 240px;
    }
  }
}
