.custom-input {
  position: relative;
  $root: &;

  &::before {
    content: "Поле не заполнено";
    position: absolute;
    left: 20px;
    top: 60px;
    color: $color-orange-red;
    font-size: 17px;
    line-height: 1.5;
    display: none;
  }

  &__field {
    border: 1px solid transparent;
    background-color: rgba($color-jaguar, .05);
    border-radius: 200px;
    font-size: 17px;
    line-height: 1.5;
    padding: 15px 20px;
    width: 100%;
    outline: none;
    transition: background-color $transition-300, border-color $transition-300, color $transition-300;
    position: relative;

    &::placeholder {
      color: rgba($color-jaguar, 0.3);
    }

    &:hover,
    &:focus-visible {
      background-color: transparent;
      border-color: $color-jaguar;
      color: $color-jaguar;
    }
  }

  &--error #{$root}__field {
    border: 1px solid $color-orange-red;
    margin: 0 0 20px;
  }

  &--error::before {
    display: block;
  }
}
